* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.navbar {
  background-color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 5;
  &__logo {
    position: relative;
    padding: 0.3rem 0;
    &__h1 {
      font-size: 1.2rem;
      padding: 0.5rem 0;
      font-weight: 600;
    }
  }
  &__mobile__btn {
    position: absolute;
    right: 0;
    top: 28%;
    font-size: 1.3rem;
    color: #333;
    &:hover {
      color: #00704a;
    }
  }
  &__list {
    overflow: hidden;
    height: 0;
  }
  &__item {
    padding: 0.8rem 0;
  }
  &__link {
    font-size: 0.8rem;
    color: #333;
  }
  &__search {
    &__form {
      display: flex;
      width: 100%;
    }
    &__input {
      width: 100%;
      padding: 0.2rem;
      font-size: 1.2rem;
      border: 0;
      border-bottom: 1px solid #333;
      background-color: #f7f7f7;
    }
    &__btn {
      margin-left: -20px;
      background-color: transparent;
      border: 0;
    }
  }
}
.showcase {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("../img/food-inside-display-chiller-1855214.jpg") no-repeat
    center center / cover;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: transparentize(#000, 0.5);
  }
  &__inner {
    position: relative;
    z-index: 2;
    color: #fff;
    &__h1 {
      font-size: 1.6rem;
      font-weight: 500;
    }
    &__p {
      padding: 0.5rem 0;
    }
    &__a {
      display: inline-block;
      background-color: #00704a;
      color: #fff;
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }
  }
}
.about {
  overflow-x: hidden;
  &__images {
    &__track {
      width: 200%;
      margin: 0;
      display: flex;
    }
  }
  &__image {
    &__div {
      padding: 3rem 0;
      margin: 0 2rem;
    }
    &__link {
      display: block;
      width: 200px;
      height: 290px;
      margin: auto;
      border-radius: 5px;
      box-shadow: 3px 3px 20px #444444;
      &--first {
        background: url("../img/food-plate-chocolate-dessert-132694.jpg")
          no-repeat center center / cover;
      }
      &--second {
        background: url("../img/round-white-ceramic-saucer-and-coffee-cup-2638019.jpg")
          no-repeat center center / cover;
      }
    }
  }
  &__text {
    text-align: center;
    &__h1 {
      font-size: 1.6rem;
      font-weight: 600;
    }
    &__p {
      margin: 0.5rem 0;
      line-height: 1.4;
    }
    &__a {
      display: inline-block;
      font-weight: 700;
      padding: 1rem;
      color: #333;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        background-color: #00704a;
        bottom: 20%;
        left: 0;
        transition: width 300ms;
      }
      &:hover {
        color: #00704a;
        &::after {
          width: 100%;
        }
      }
    }
  }
}
.gallery {
  padding: 2rem 0;
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 150px);
    grid-template-areas:
      "intro intro"
      "bigImg bigImg"
      "bigImg bigImg"
      "img1 img2"
      "img3 img4"
      "img5 img6";
    gap: 0.7rem;
    min-height: 100vh;
    &__tile {
      border-radius: 5px;
      &--1 {
        grid-area: intro;
      }
      &--2 {
        grid-area: bigImg;
        background: url("../img/beverage-brown-caffeine-cappuccino-585753.jpg")
          no-repeat center center / cover;
      }
      &--3 {
        background: url("../img/cappuccino-and-a-croissant-890429.jpg")
          no-repeat center center / cover;
        grid-area: img1;
      }
      &--4 {
        background: url("../img/shallow-focus-photography-of-cafe-late-982612.jpg")
          no-repeat center center / cover;
        grid-area: img2;
      }
      &--5 {
        background: url("../img/cheese-cake-with-strawberry-fruit-1098592.jpg")
          no-repeat center center / cover;
        grid-area: img3;
      }
      &--6 {
        grid-area: img4;
        background: url("../img/chocolate-with-milted-chocolate-on-white-ceramic-plate-45202.jpg")
          no-repeat center center / cover;
      }
      &--7 {
        grid-area: img5;
        background: url("../img/photo-of-cake-2928378.jpg") no-repeat center
          center / cover;
      }
      &--8 {
        grid-area: img6;
        background: url("../img/beverage-breakfast-brownies-cafe-448471.jpg")
          center center / cover;
      }
    }
  }
  &__intro {
    position: relative;
    justify-self: center;
    align-self: center;
    text-align: center;
    &__h1 {
      font-size: 1.7rem;
    }
    &__p {
      margin: 0.5rem 0;
      font-size: 1.2rem;
    }
    &__a {
      color: #333;
      font-size: 1.3rem;
      font-weight: 700;
      &:hover {
        color: #00704a;
      }
    }
  }
}
.newsletter {
  padding: 1rem 0;
  text-align: center;
  &__text {
    margin: 1rem 0;

    line-height: 1.4;
  }
  &__input {
    width: 100%;
    font-size: 1.3rem;
    padding: 0.3rem;
    border: 0;
    background-color: #f4f4f4;
    border-bottom: 1px solid #333;
  }
  &__send {
    display: inline-block;
    margin: 0.5rem 0;
    border: 0;
    padding: 0.5rem 1rem;
    background-color: #00704a;
    color: #fff;
  }
}
.footer {
  &__links {
    text-align: center;
    &__div {
      padding: 0.6rem;
    }
    &__h3 {
      font-size: 1rem;
      color: #333;
      font-weight: 600;
    }
    &__h2 {
      font-weight: 600;
    }
    &__a {
      font-size: 1.3rem;
      color: #333;
      font-weight: 600;
      &:hover {
        color: #00704a;
      }
    }
    &__socialmedia {
      display: inline-block;
      margin: 0.5rem;
      color: #333;
      font-size: 1.4rem;
    }
  }
}

.device--desktop {
  display: none;
}
@media (min-width: 768px) {
  .showcase {
    height: 60vh;
    &__inner {
      &__h1 {
        font-size: 2.3rem;
      }
      &__p {
        font-size: 1.5rem;
        padding: 0.7rem 0;
      }
      &__a {
        font-size: 1.4rem;
        padding: 0.7rem 1.4rem;
      }
    }
  }
  .about {
    padding: 3rem 0;
    &__container {
      display: flex;
    }
    &__images {
      flex: 1;
      margin-right: 1rem;
      &__track {
        width: 100%;
      }
    }
    &__image {
      &__div {
        padding: 0;
        margin: 0 1rem;
      }
      &__link {
        box-shadow: 3px 3px 10px #444;
        width: 200px;
        height: 390px;
      }
    }

    &__text {
      flex: 1;
      text-align: start;
      align-self: center;
    }
  }
  .gallery {
    &__grid {
      grid-template-rows: 150px 300px 300px 300px 300px 300px;
    }
    &__intro {
    }
  }
}
@import "utility";
